<h3>Administrative Tasks</h3>
<ul>
    <li><strong>Insurance Issues:</strong>
        <ul>
            {% for issue in response.insurance_issues %}
                <li>{{ issue }}</li>
            {% endfor %}
        </ul>
    </li>
    <li><strong>Facility Concerns:</strong>
        <ul>
            {% for concern in response.facility_concerns %}
                <li>{{ concern }}</li>
            {% endfor %}
        </ul>
    </li>
    <li><strong>Documentation Needs:</strong>
        <ul>
            {% for need in response.documentation_needs %}
                <li>{{ need }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
