<h3>Demographics Summary</h3>
<ul>
    <li><strong>Name:</strong> {{ response.name }}</li>
    <li><strong>Date of Birth:</strong> {{ response.dob }}</li>
    <li><strong>Primary Conditions:</strong>
        <ul>
            {% for condition in response.primary_conditions %}
                <li>{{ condition }}</li>
            {% endfor %}
        </ul>
    </li>
    <li><strong>Allergies:</strong>
        <ul>
            {% for allergy in response.allergies %}
                <li>{{ allergy }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
